html
	head
	//- script(src='jquery-3.1.1.min.js')
	//- script(type='text/javascript').
	//- 	if $(".button").click( function() {
	//- 		alert('working')
	//- 	})
	body
		h1 Create a new a user
		//- div #{ data }
		//- each item in data
			p #{ item.firstname } #{item.lastname}
		form(method='POST', action='/users')
			p Firstname: 
				br
				input(
					type='text'
					name='firstname'
				)
			p Lastname:
				br 
				input(
					type='text'
					name='lastname'
				)
			p Email: 
				br
				input(
					type='email'
					name='email'
				)
			p
				input.button(type="submit", value="Add user")