html
	head
	body
		h1 Create a new a user
		//- create a form for the creation of new user
		form(method='POST', action='/users')
			p Firstname: 
				br
				input(
					type='text'
					name='firstname'
				)
			p Lastname:
				br 
				input(
					type='text'
					name='lastname'
				)
			p Email: 
				br
				input(
					type='email'
					name='email'
				)
			p
				input.button(type="submit", value="Add user")