html
	head
	body
		h1 Search result
		h2 We found:
		//- initialize a variable in order to track whether some results matches have been found
		- let isEmpty = true
		each item in data
			//- find matches from search
			if item.firstname == inputData[0] && item.lastname == inputData[1]
				p Name: #{ item.lastname }, #{ item.firstname }
				p Email: #{ item.email }
				- isEmpty = false
				br
			else if item.firstname != inputData[0] && item.lastname == inputData[1]
				p Name: #{ item.lastname }, #{ item.firstname }
				p Email: #{ item.email }
				- isEmpty = false
				br
			else if item.firstname == inputData[0] && item.lastname != inputData[1]
				p Name: #{ item.lastname }, #{ item.firstname }
				p Email: #{ item.email }
				- isEmpty = false
				br
		if isEmpty === true
			p There are no matches
