html
	head
		link(rel="stylesheet" href='/css/main.css' type="text/css")
		link(rel="stylesheet" href='/css/jquery-ui.min.css' type="text/css")
	body
		h1 Search for a user
		//- form(method='POST', action='/result')
		form
			p Firstname: 
				br
				input(
					type='text'
					name='firstname'
					id='firstname'
				)
			p Lastname: 
				br
				input(
					type='text'
					name='lastname'
					id='lastname'
				)
			p
				input(type="submit" id="call_back_btn" value="Search")
			//- div(id='result')
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/jquery-ui.min.js')
		script.
			$(document).ready(function() {
				$('#call_back_btn').click( function ( event ) {
					event.preventDefault()
				})
				$('#firstname').keyup( function( ) {
					var txt = $(this).val()
					$.post( "/givethisback", {inputData: txt}, function ( data, status ) {
						console.log( data )
						$('#firstname').autocomplete({
							source: data,
							minLength: 1
						})			
					})

				})
			})