html
	head
	body
		h1 Search for a user
		//- form(method='POST', action='/result')
		form
			p Firstname: 
				br
				input(
					type='text'
					name='firstname'
					id='firstname'
				)
			p Lastname: 
				br
				input(
					type='text'
					name='lastname'
					id='lastname'
				)
			p
				input(type="submit" id="call_back_btn" value="Search")
			//- div(id='result')
		script(src='/js/jquery-3.1.1.min.js')
		script.
			$(document).ready(function() {
				$('#firstname').keyup( function() {
					var txt = $(this).val()
					$.post( "/givethisback", {data: txt}, function (data) {
						console.log( data )
					}
				)})
			})

			//- track the variable typed in $(this).val()
			//- get the app.get
			//- in the app get go through users.json and match up the input to firstname and lastname strings
			//- res.send back the string found to pug
			//- show results in pug file - success function

			//- use keyup instead of click

		//- script.
		//- 	$(document).ready(function() {
		//- 		$('#firstname').keyup(function(){
		//- 			var txt = $(this).val()
		//- 			if(txt != '') {

		//- 			} else {
		//- 				$.ajax({
		//- 					url: '/../app.js',
		//- 					method: 'post',
		//- 					dataType: 'text',
		//- 					data: {
		//- 						searchText: txt
		//- 					},
		//- 					success: function ( data ) {
		//- 						$('#result').html( data )
		//- 					}
		//- 				})
		//- 			}
		//- 		})
		//- 	})